/* Define Futura font */
@font-face {
    font-family: "Futura";
    src:
        url("../fonts/Futura.woff2") format("woff2"),
        url("../fonts/Futura.woff") format("woff");
    /* Add additional font formats if necessary */
}

@font-face {
    font-family: "Myriad";
    src: url("../fonts/Futura.otf") format("otf");
    /* Add additional font formats if necessary */
}

/* Apply Futura font to body */
body {
    color: #002235;
    font-family: "Futura", sans-serif;
    overflow-x: hidden;
    text-transform: uppercase;

    /* Fallback font family */
}

.h1-fluid {
    font-size: calc(1rem + 3vw);
    line-height: calc(1.4rem + 4.8vw);
}

.h2-fluid {
    font-size: calc(1rem + 2vw);
    line-height: calc(1.4rem + 2.4vw);
}

.h3-fluid {
    font-size: calc(1rem + 1vw);
    line-height: calc(1.4rem + 1.2vw);
}

.p-fluid {
    font-size: calc(1rem + 0.5vw);
    line-height: calc(1.4rem + 0.6vw);
}

h1,h2,h3,h4,h5,h6{
    color: #002235;
}

.myriad-font {
    font-family: "Myriad", sans-serif;
}

.inner-menu-items {
    text-align: center;
}

.title-text{
    line-height: 2.5rem;
    font-family: "Futura";
    font-weight: bold;
    text-align: center;
}
.subtitle-text{
    line-height: 1rem;
    margin-top: 1rem;
    font-family: "Futura";
    text-align: center;
    font-weight: 50;
}
.title-text {
    font-size: 2rem;
    letter-spacing: 0.1rem !important;
}

.subtitle-text {
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 0.3rem !important;
}

.top-img-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-fade-in {
    opacity: 0;
    animation: heroFade 2s ease-in-out forwards;
}

@keyframes heroFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.topImgContainer {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

#topImg {
    position: relative;
    margin-left:-2%;
    margin-right:-2%;
    max-width:105%;
}

.top-hero-line{
    margin-left: -2%;
    margin-right: -2%;
    margin-top:-9%;
}

.impact-fade-in-div{
    opacity:0;
}

.cloud-fade-out {
    opacity: 0 !important;
}

.cloud-fade-in {
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 1 !important;
}

.topSvgTitle {
    font-weight: bold;
    font-size: 6vw;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
}

.ninety-left{
    opacity: 0;
    transform: rotate(-90deg);
    position: absolute;
    top: 35%;
    font-size:1.3vw;
    left:2%;
}

.ninety-right{
    opacity: 0;
    transform: rotate(90deg);
    position: absolute;
    top:35%;
    font-size:1.3vw;
    right:4%;
}

.topSvgBlurbLeft {
    font-weight: bold;
    font-size: 4vw;
    position: absolute;
    max-width: 32%;
    line-height: 94%;
    text-align: right;
    left: -100%;
    /* Start off-screen */
    bottom:18%;
    opacity: 0;
    transition:
        left 1s ease,
        opacity 1s ease;
}

.topSvgBlurbLeft.show {
    left: 5%;
    /* Ending position */
    opacity: 1;
}

.topSvgBlurbRight {
    font-weight: lighter;
    font-size: 1.7vw;
    position: absolute;
    max-width: 32%;
    text-align: left;
    right: -100%;
    bottom: 12%;    
    opacity: 0;
    transition:
        right 1s ease,
        opacity 1s ease;
}

.topSvgBlurbRight.show {
    opacity: 1;
    right: 4%;
}

.spacer {
    height: 5vh;
}

.counter-grid{
    margin-bottom:2%;
}

.counter-items {
    padding: 10%;
    font-weight: bold;
    text-align: center;
    margin-bottom:2%;
}

.counter-text {
    margin-top: -16%;
    font-size:1.5vw;
}

.cloud-container {
    overflow: hidden;
    margin-top: 4rem;
    min-height: 120vh;
    position: relative;
    /* background-color: white; */
    width: 150%;
    /* Adjust as needed */
    margin-left: -25%;
    /* Half of the excess width to keep it centered */
    margin-right: -25%;
    /* Half of the excess width to keep it centered */
}

.cloud-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    /* Adjust the height of the gradient overlay */
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.8));
    /* Adjust opacity as needed */
    pointer-events: none;
}

.cloud-reveal {
    position: absolute;
    top: 51%;
    /* Position the element 50% from the top */
    left: 50%;
    /* Position the element 50% from the left */
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 110%;
    display: inline-block;
    overflow: hidden;
}
.cloud-reveal-img {
    /* transition: opacity 5s ease; */
    width: 100%;
    z-index: 100000;
    width: 110%;
    display: inline-block;
    overflow: hidden;
}

.cloud-opacity-none{
    opacity:0;
}


.mountain-container {
    position: relative;
    /* width: 150%; */
    /* Adjust as needed */
    margin-left: -5%;
    /* Half of the excess width to keep it centered */
    margin-right: -5%;
    /* Half of the excess width to keep it centered */
    margin-top: -55%;
    opacity: 1;
    /* transform: translateY(75rem); */
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.mountain-reveal-text {
    opacity: 1;
    transition: opacity 1s ease;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 45%;
    /* Position the element 50% from the top */
    left: 50%;
    /* Position the element 50% from the left */
    transform: translate(-50%, -58%);
}

.cloud-mountain-front-layer{
    margin-left:-2%;
}

.text-over-mountain__left {
    left: -100%;
    position: absolute;
    width: 25%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.3vw;
    line-height: 134%;
    letter-spacing: 0.2rem;
    top: 18%;
    opacity: 0;
    transition:
        left 2s ease,
        opacity 2s ease;
}

.text-over-mountain__left.show {
    opacity: 1;
    left: 11%;
}

.text-over-mountain__right {
    right: -100%;
    position: absolute;
    max-width:33%;
    text-align: left;
    margin: 0 auto;
    font-size: 2vw;
    line-height: 128%;
    letter-spacing: 0.2rem;
    top: 16%;
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
}

.text-over-mountain__right.show {
    opacity: 1;
    right: 5%;
}

/* .mountain-container.fade-in {
    opacity: 1;
    transform: translateY(0);
} */

.mountain-front {
    position: relative;
    z-index: 5;
    width:110%;
    /* width: 105%;
    margin-left: 25%;
    margin-right: 25%; */
}

.mtnSideFrontLayer {
    width: 99%;
    height:auto;
    display: block;
    object-fit: cover;
    z-index: 5;
    margin-left:-4%;
    margin-right: -15%;
}

.mountain-back {
    position: absolute;
    top: 100%;
    /* Initially hide below the mountain-sect container */
    width: 100%;
    z-index: 1;
    left: 17%;
    transition: top 1s ease;
    /* Add transition for smooth sliding animation */
}

.mtnSideBackLayer {}

.slide-up {
    top: 7%;
    /* Final position where you want the mountain-back container to slide up */
}

.blue-sect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    /* Adjust the height of the opaque top edge */
    background-image: linear-gradient(to bottom,
            rgb(0, 34, 53, 0),
            rgb(0, 34, 53, 0.5));
    /* Adjust the opacity (rgba) and direction as needed */
}

.blue-sect {
    text-align: center;
    padding: 4rem;
    position: relative;
    z-index: 1000;
    margin-top: -5%;
    background-color: #002235;
    min-height: 20vh;
    color: white;
}

.blue-sect-mountain {
    position: absolute;
    bottom: 6%;
    color: white;
    /* max-width: 85%; */
    /* padding: 1%; */
    left: 4%;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.blue-headline {
    font-size: 2.4vw;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color:white !important;
}

.blue-subtitle {
    font-size: 1.4vw;
    color:white !important;
}

.blue-paragraph {
    font-size: 1.1vw;
    width: 70%;
    margin: 0 auto;
}

.blue-light-headline {
    font-weight: light;
    font-size: 2.7vw;
    line-height: 110%;
    width:78%;
    margin: 0 auto;
}

.mountain-sect {
    margin-top: -17%;
    max-width: 100%;
    /* Adjust as needed */
    position: relative;
    /* height: 120vh;  */
    /* margin-bottom: 18rem; */
}

.gradient-overlay {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    z-index: 1000;
    top: 74%;
    width: 100%;
    height: 50%;
    background-image: url(../img/gradient.svg?raw);
    background-repeat: no-repeat;
}

.team-logo-container{
    width:33vw;
}

.team-logo__left{
    width:33vw;
    margin:0 auto;
}

.team-name__tilt-left span {
    display: inline-block;
    /* Set the display property to inline-block */
    vertical-align: middle;
    /* Optional: Align the image vertically with the text */
    margin-right: 0.5em;
    /* Optional: Add some spacing between the image and the text */
}

.team-name__tilt-right span {
    display: inline-block;
    /* Set the display property to inline-block */
    vertical-align: middle;
    /* Optional: Align the image vertically with the text */
    margin-left: 0.5em;
    /* Optional: Add some spacing between the image and the text */
}

.team-svg-line-animate {
    transform: translateZ(-1px);
}

.team-line-svg {
    width: 85%; 
    margin: 0 auto;
}

.custom-team-list {
    text-align: left;
    list-style: none;
    /* Remove default bullets */
    padding: 0;
    /* Remove default padding */
}

.custom-team-list li.left{
    transform: rotate(-45deg);
    position: absolute;
    top: 39%;
    left: -8%;
    font-size:1.4vw;
}
.custom-team-list li.right {
    transform: rotate(45deg);
    position: absolute;
    top: 39%;
    right: -12%;
    font-size:1.4vw;
}
.custom-team-list li.bottom {
    /* transform: rotate(-90deg); */
    position: absolute;
    bottom:-10%;
    left: 18.5%;
    font-size:1.4vw;
}

.custom-team-list li {
    margin-left: 20px;
    /* Adjust the margin as needed */
    padding-left: 30px;
    /* Add padding to create space for the bullet */
    position: relative;
    /* Required for absolute positioning */
}

.custom-team-list li:before {
    content: "";
    /* Required for pseudo-element */
    background-image: url('../img/customBulletPoint.svg');
    /* Path to your SVG file */
    background-size: contain;
    /* Ensure the SVG is contained within the element */
    background-repeat: no-repeat;
    /* Prevent repeating */
    width: 1.2vw;
    /* Adjust size as needed */
    height: 1.2vw;
    /* Adjust size as needed */
    position: absolute;
    /* Position the bullet */
    left: 0;
    /* Position the bullet */
    top: 50%;
    /* Position the bullet */
    transform: translateY(-50%);
    /* Position the bullet */
}

.team-container__left {
    position: absolute;
    width: 35%;
    height: auto;
    text-align: center;
    top: 3%;
    margin: 0 auto;
    left: -100%;
    opacity: 0;
    transition:
        left 2s ease,
        opacity 2s ease;
}

.team-container__left.show {
    opacity: 1;
    left: 0;
}

.team-container__middle {
    position: absolute;
}

.team-container__right {
    position: absolute;
    width: 35%;
    height: auto;
    text-align: left;
    top: 3%;
    margin: 0 auto;
    right: -100%;
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
}

.team-container__right.show {
    opacity: 1;
    right: 0;
}


.founder-title {
    font-size: 2vw;
}

.founder-desc {
    line-height: 110%;
    font-size: 1.4vw;
}

.team-title {
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
    margin-bottom: 3rem;
}

.team-description {
    width:85%;
    position: absolute;
    top: 27.5%;
    left: 6%;
}

.team-description #teamdesc {
    font-weight: bold;
    font-size: 2.5vw;
        letter-spacing: 0.1rem;
        line-height: 120%;
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
    left:-100%;
}
#teamdesc.show {
    opacity: 1;
    right: 0;
}

.team-desc-blk{
    font-size:1.2vw;
    line-height: 110%;
}

.splitter-svg {
    margin-top: -10%;
}

.monkey-sect {
    margin-top: -20%;
    position: relative;
}

.left-plant-wrapper {
    position: absolute;
    bottom:92%;
    right: -100%;
    width: 28vw;
    z-index: -1;
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
}

.left-plant-wrapper.show {
    opacity: 1;
    right: 0;
}

.right-plant-wrapper {
    position: absolute;
    bottom:86%;
    left: -100%;
    width: 30vw;
    z-index: -1;
    opacity: 0;
    transition:
        left 2s ease,
        opacity 2s ease;
}

.right-plant-wrapper.show {
    opacity: 1;
    left: 0;
}

.monkey-wrapper {
    position: relative;
    z-index: 10000;
    width: 42rem;
    margin: 0 auto;
    padding-top: 34%;
    opacity:0;
    transition:
            opacity 1s ease;
}

.monkey-wrapper.show{
    opacity:1;
}

.bottom-svg {
    margin-top: -32.5%;
    z-index: 1000;
}

.team-list-container {
    margin-top: 8%;
}

.team-list {}

.team-list-item {
    letter-spacing: 0.1rem;
    line-height: 110%;
    font-size: 1.4vw;
    /* padding: 0.5rem; */
    margin-bottom: .75vh;
}

.team-subtitle {
    font-size: 0.8vw;
}

.team-blurb {
    position: absolute;
    width: 32%;
    left: -100%;
    opacity: 0;
        transition:
            left 2s ease,
            opacity 2s ease;
}

.team-blurb.show{
    opacity:1;
    left:6%;
    top:19%;
}

.team-blurb .blurb {
    font-weight: bold;
    font-size: 2.3vw;
    letter-spacing: 0.1rem;
    line-height: 110%;
}

.team-block-left-1 {
    position: absolute;
    width: 75%;
    height: auto;
    text-align: left;
    top: 51%;
    left: 10%;
    margin: 0 auto;
}

.team-block-right-1 {
    position: absolute;
    width: 75%;
    height: auto;
    text-align: left;
    top: 39%;
    right: 10%;
    margin: 0 auto;
}

.team-block-left-2 {
    position: absolute;
    width: 75%;
    height: auto;
    text-align: left;
    top: 75%;
    left: 10%;
    margin: 0 auto;
}

.team-block-right-2 {
    position: absolute;
    width: 75%;
    height: auto;
    text-align: left;
    top: 64%;
    right: 10%;
    margin: 0 auto;
}

.team-block-subtitle {}

.team-block-title {
    font-size: 1.5vw;
    margin-bottom: 0.2rem;
}

.vertical-uni {
    position: absolute;
    width: 75%;
    height: auto;
    text-align: left;
    top: 88%;
    left: 2%;
    margin: 0 auto;
}

.vert-uni-text {
    font-weight: bold;
    font-size: 5.3vw;
    line-height: 110%;
}

.vertical-blurb {
    position: absolute;
    width: 35%;
    height: auto;
    text-align: left;
    top: 89%;
    left: 65%;
    margin: 0 auto;
}

.vert-blurb-text {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 110%;
}

.mtnLogoContainer{
    position: absolute;
    width: 35%;
    bottom: 56.5%;
    left: 33%;
    height: 25%;
}

.mtnLogo {
    position: absolute;
    top: -5%;
    width: 18vw;
    left: 24%;
    z-index: 50000;
    opacity: 1;
}

.mtnLogoText{
    color:white;
}

.mtnLogoText.left{
    position: absolute;
    left: 6%;
    top: 25%;
    z-index: 50001;
    text-align: right;
    line-height: 100%;
    font-size:1.2vw;
}

.mtnLogoText.right {
    position: absolute;
    left:79%;
    top: 25%;
    z-index: 50001;
    line-height: 110%;
    font-size:1.2vw;
}

.mtnLogoText.bottom {
    position: absolute;
    left: 30%;
    top: 80%;
    z-index: 50001;
    width: 100%;
    font-size:1.2vw;
}


.splitter-left-container {
    position: absolute;
    top: 35%;
    left: -100%;
    width: 35%;
    opacity: 0;
    transition:
        left 1s ease,
        opacity 1s ease;
}

.splitter-left-container.show {
    opacity: 1;
    left: 5%;
}

.splitter-left-text {
    font-size: 2vw;
    font-weight: bold;
}

.splitter-right-container {
    position: absolute;
    top: 35%;
    right: -100%;
    width: 60%;
    text-align: center;
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
}

.splitter-right-container.show {
    opacity: 1;
    left: 48%;
}

.splitter-right-img {
    width: 45%;
    height: auto;
    margin: 0 auto;
}

h1.splitter {
    padding: 2rem;
    font-size: 2vw;
}

.monkey-img {
    top: 4%;
    z-index: 1000;
}

.monkey-img img{
    width:40vw;
    margin:0 auto;
}

.monkey-arch-text {
    position: absolute;
    bottom:15%;
    left: 27%;
    width: 45vw;
    opacity: 0;
    transition: 
        opacity 1s ease;
}
.monkey-arch-text.show{
    opacity: 1;
}



.bottom-left-container {
    text-align: right;
    position: absolute;
    top: 14%;
    left: 4.5%;
    width: 35%;
}

#bottomlineSvg{
    width:7.5vw;
    margin:0 auto;
}
#bottom-containers{
    margin-top:-6%;
}
.bottom-text-block {}

.bottom-text-block-header {
    font-weight: bold;
    font-size: 2vw;
}

.bottom-text-paragraph {
    margin-top: 1rem;
    margin-bottom: 6rem;
    font-size: 1.4vw;
}

.bottom-right-container {
    text-align: left;
    position: absolute;
    top: 6%;
    right: 5%;
    width: 35%;
}

.btm-lft-1,.btm-lft-2,.btm-lft-3,.btm-rt-1,.btm-rt-2{
    opacity: 0;
    transition:
        opacity 1s ease;
}
.btm-lft-1.show,
.btm-lft-2.show,
.btm-lft-3.show,
.btm-rt-1.show,
.btm-rt-2.show {
    opacity: 1;
}

.bottom-right-headline {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 8rem;
    line-height: 110%;
    opacity:0;
    transition: 
    opacity 1s ease;
}

.bottom-right-headline.show{
    opacity:1;
}

.pre-footer {
    min-height: 15vh;
    padding: 5rem;
    text-align: center;
}

.custom-button {
    background-image: url("../img/buttonOutline.svg?raw");
    background-size: cover;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.newsletter-text {
    margin-top: 1.5rem;
}

.bottom-text-player {
    width: 100%;
    position: absolute;
    top: 47%;
}

.top-text-player {
    width: 100%;
    position: absolute !important;
    top: 5%;
}

#team-text-block-1,
#team-text-block-2,
#team-text-block-3,
#team-text-block-4,
#vert-uni-text,
#vert-blurb-text {
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
}

#team-text-block-1.show,
#team-text-block-2.show,
#team-text-block-3.show,
#team-text-block-4.show,
#vert-blurb-text.show,
#vert-uni-text.show{
    opacity: 1;
}


#footerLogoSvg{
    margin-top:10%;
    background-color: white;
}


