@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Futura.woff2) format('woff2');
}

.pt-bold {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* book */
.pt-book{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fut-bold{
font-family: "Futura";
font-weight:700;
}

.pt-heavy{
        font-family: "futura-pt", sans-serif;
            font-weight: 650;
            font-style: normal;
}

.fut-medium{
    font-family: "Futura", sans-serif;
        font-weight: 500;
        font-style: normal;

}

.pt-demi{
font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* 
.fut-medium{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
} */

body {
    color: #002235;
    font-family: "futura-pt", sans-serif;
    overflow-x: hidden;
    text-transform: uppercase;

    /* Fallback font family */
}

.h1-fluid {
    font-size: calc(1rem + 3vw);
    line-height: calc(1.4rem + 4.8vw);
}

.h2-fluid {
    font-size: calc(1rem + 2vw);
    line-height: calc(1.4rem + 2.4vw);
}

.h3-fluid {
    font-size: calc(1rem + 1vw);
    line-height: calc(1.4rem + 1.2vw);
}

.p-fluid {
    font-size: calc(1rem + 0.5vw);
    line-height: calc(1.4rem + 0.6vw);
}

h1,h2,h3,h4,h5,h6{
    color: #002235;
}

.myriad-font {
    font-family: "Myriad", sans-serif;
}

.bold-link{
    font-weight:bold;
}

.inner-menu-items {
    text-align: center;
}

.title-text{
    line-height: 2.5rem;
    /* font-family: "Futura"; */
    /* font-weight: bold; */
    text-align: center;
}
.subtitle-text{
    line-height: 135%;
    margin-top: 1rem;
    /* font-family: "Futura"; */
    text-align: center;
    font-weight: 50;
}
.title-text {
    font-size: 2rem;
    letter-spacing: 0.1rem !important;
}

.subtitle-text {
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 0.3rem !important;
}

.top-img-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

.serp-left-1 {
    position: relative;
    /* Required for left positioning */
    left: -100%;
    animation: serpLeftFade 1s ease-in-out;
    }
.serp-left-2 {
    position: relative;
    /* Required for left positioning */
    left: -100%;
    animation: serpLeftFade 2s ease-in-out;
}
.serp-left-3 {
    position: relative;
    /* Required for left positioning */
    left: -100%;
    animation: serpLeftFade 3s ease-in-out;
}
    
@keyframes serpLeftFade {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
    }
}

.serp-right-1 {
    position: relative;
    /* Required for right positioning */
    right: -100%;
    animation: serpRightFade 1s ease-in-out;
}
.serp-right-2 {
    position: relative;
    /* Required for right positioning */
    right: -100%;
    animation: serpRightFade 2s ease-in-out;
}
.serp-right-3 {
    position: relative;
    /* Required for right positioning */
    right: -100%;
    animation: serpRightFade 3s ease-in-out;
}

@keyframes serpRightFade {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 1;
    }
}



.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-fade-in {
    opacity: 0;
    animation: heroFade 2s ease-in-out forwards;
}

@keyframes heroFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.topImgContainer {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

#topImg {
    position: relative;
    margin-left:-2%;
    margin-right:-2%;
    max-width:105%;
}

.top-hero-line{
    margin-left: -2%;
    margin-right: -2%;
    margin-top:-9%;
}

.cloud-fade-out {
    opacity: 0 !important;
}

.cloud-fade-in {
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 1 !important;
}

.topSvgTitle {
    font-weight: bold;
    font-size: 6vw;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
}

.impact-fade-in-div {
    opacity: 0;
    transition:opacity 1s ease;
}
.impact-fade-in-div.show{
    opacity:1;
}

.ninety-left{
    opacity: 0;
    transform: rotate(-90deg);
    position: absolute;
    top: 35%;
    font-size:1.6vw;
    left:-100%;
    transition:opacity 1s ease,left 1s ease;
}
.ninety-left.show{
    opacity:1;
    left: -3.5%;
}

.ninety-right{
    opacity: 0;
    transform: rotate(90deg);
    position: absolute;
    top:35%;
    font-size:1.6vw;
    right:-100%;
    transition:opacity 1s ease, right 1s ease;
}
.ninety-right.show{
    opacity:1;
    right:-1.3%;
}

.topSvgBlurbLeft {
    font-weight: bold;
    font-size: 4vw;
    position: absolute;
    max-width: 32%;
    line-height: 94%;
    text-align: right;
    left: -100%;
    /* Start off-screen */
    bottom:20%;
    opacity: 0;
    transition:
        left 1s ease,
        opacity 1s ease;
}

.topSvgBlurbLeft.show {
    left: 5%;
    /* Ending position */
    opacity: 1;
}

.topSvgBlurbRight {
    font-size: 1.7vw;
    position: absolute;
    max-width: 32%;
    text-align: left;
    right: -100%;
    bottom: 14%;    
    opacity: 0;
    transition:
        right 1s ease,
        opacity 1s ease;
}

.topSvgBlurbRight.show {
    opacity: 1;
    right: 4%;
}
.top-fade{
    opacity:0 !important;
}
.spacer {
    height: 5vh;
}
.counter-container{
    opacity:0;
    transition: opacity 1s ease;
}

.counter-container.show{
    opacity: 1;
}

.counter-grid{
    margin-bottom:4%;
    margin-top:4%;
}

.counter-items {
    padding: 2% 18% 2% 18%;
    font-weight: bold;
    text-align: center;
    margin-bottom:2%;
}

.counter-text {
    margin-top: -16%;
    font-size:1.3vw;
    line-height: 115%;

}
#counter-text-1,#counter-text-2 ,#counter-text-3,#counter-text-4,#counter-text-5{
    opacity: 0;
    transition: opacity 1s ease;
}
#counter-text-1.show,
#counter-text-2.show,
#counter-text-3.show,
#counter-text-4.show,
#counter-text-5.show {
    opacity:1;
}

.cloud-sect{
    opacity:0;
    margin-top:-60%;
    transition: opacity 2s ease;
}

.cloud-sect::before {
    content: '';
    position: absolute;
    /* Position absolute to overlay gradient on top */
    top: 0;
    /* Place gradient at the top of the div */
    left: 0;
    width: 100%;
    /* Make gradient span the entire width of the div */
    height: 36%;
    /* Adjust the height of the gradient as needed */
background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);    /* White to transparent gradient */
}

.cloud-sect.show{
    opacity:1;
}

.high-cloud-bg{
    top:48% !important;
    width:105% !important;
}
.cloud-container {
    overflow: hidden;
    top:-8%;
    min-height: 100vh;
    position: absolute;
    /* background-color: white; */
    width: 100%;
    /* Adjust as needed */
    /* margin-left: -25%; */
    /* Half of the excess width to keep it centered */
    /* margin-right: -25%; */
    /* Half of the excess width to keep it centered */
}

.cloud-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    /* Adjust the height of the gradient overlay */
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.8));
    /* Adjust opacity as needed */
    pointer-events: none;
}

.cloud-reveal {
    position: absolute;
    top: 38%;
    /* Position the element 50% from the top */
    left: 48%;
    /* Position the element 50% from the left */
    transform: translate(-50%, -50%);
    min-height:70vh;
    z-index: 100000;
    width: 110%;
    display: inline-block;
    overflow: hidden;
}
.cloud-reveal-bg {
    position: absolute;
    top: 57%;
    /* Position the element 50% from the top */
    left: 47%;
    /* Position the element 50% from the left */
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
.cloud-reveal-img {
    /* transition: opacity 5s ease; */
    width: 100%;
    z-index: 100000;
    width: 110%;
    display: inline-block;
    overflow: hidden;
}

.cloud-opacity-none{
    opacity:0;
}


.mountain-container {
    position: relative;
    /* width: 150%; */
    /* Adjust as needed */
    margin-left: -5%;
    /* Half of the excess width to keep it centered */
    margin-right: -5%;
    /* Half of the excess width to keep it centered */
    /* margin-top: -70vh; */
    margin-top:17%;
    opacity: 1;
    /* transform: translateY(75rem); */
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.mountain-reveal-text {
    line-height:110%;
    opacity: 1;
    transition: opacity 1s ease;
    padding:15%;
    width:100%;
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 64%;
    /* Position the element 50% from the top */
    left: 50%;
    /* Position the element 50% from the left */
    transform: translate(-50%, -58%);
}

.cloud-mountain-front-layer{
    margin-left:2%;
}

.text-over-mountain__left {
    left: -100%;
    position: absolute;
    width: 25%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.7vw;
    line-height: 145%;
    /* letter-spacing: 0.2rem; */
    top: 15.5%;
    opacity: 0;
    transition:
        left 2s ease,
        opacity 2s ease;
}

.text-over-mountain__left.show {
    opacity: 1;
    left: 10.5%;
}

.text-over-mountain__right {
    right: -100%;
    position: absolute;
    max-width:28%;
    text-align: left;
    margin: 0 auto;
    font-size: 2.2vw;
    line-height: 128%;
    letter-spacing: 0.2rem;
    top: 15.5%;
    opacity: 0;
    transition:
        right 2s ease,
        opacity 2s ease;
}

.text-over-mountain__right.show {
    opacity: 1;
    right: 8.5%;
}

/* .mountain-container.fade-in {
    opacity: 1;
    transform: translateY(0);
} */

.mountain-front {
    position: relative;
    z-index: 5;
    width:110%;
    /* width: 105%;
    margin-left: 25%;
    margin-right: 25%; */
}

.mtnSideFrontLayer {
    width: 99%;
    height:auto;
    display: block;
    object-fit: cover;
    z-index: 5;
    margin-left:-4%;
    margin-right: -15%;
}

.mountain-back {
    position: absolute;
    top: 100%;
    /* Initially hide below the mountain-sect container */
    width: 100%;
    z-index: -5 !important;
    left: 17%;
    transition: top 2s ease;
    /* Add transition for smooth sliding animation */
}

.mtnSideBackLayer {}

.slide-up {
    top: 7%;
    /* Final position where you want the mountain-back container to slide up */
}

.blue-sect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    /* Adjust the height of the opaque top edge */
    background-image: linear-gradient(to bottom,
            rgb(0, 34, 53, 0),
            rgb(0, 34, 53, 0.5));
    /* Adjust the opacity (rgba) and direction as needed */
}

.blue-sect {
    text-align: center;
    padding: 4rem;
    position: relative;
    z-index: 1000;
    margin-top: -5%;
    background-color: #002235;
    min-height: 20vh;
    color: white;
    opacity:0;
    transition: opacity 2s ease;
}

.blue-sect.show{
    opacity:1;
}

.blue-sect-mountain {
    position: absolute;
    bottom: 5%;
    color: white;
    /* max-width: 85%; */
    /* padding: 1%; */
    left: 4%;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.blue-headline {
    font-size: 2.4vw;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color:white !important;
}

.blue-subtitle {
    font-size: 1.4vw;
    color:white !important;
}

.blue-paragraph {
    font-size: 1.1vw;
    width: 70%;
    margin: 0 auto;
}

.blue-light-headline {
    font-weight: light;
    font-size: 2.8vw;
    line-height: 125%;
    width:78%;
    margin: 0 auto;
}

.mountain-sect {
    opacity: 0;
    z-index:1;
    margin-top: -17%;
    max-width: 100%;
    /* Adjust as needed */
    position: relative;
    /* height: 120vh;  */
    /* margin-bottom: 18rem; */
    transition: opacity 2s ease;
}

.mountain-sect.show{
     opacity: 1; 

}


.gradient-overlay {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    z-index: 1000;
    top: 74%;
    width: 100%;
    height: 50%;
    background-image: url(../img/gradient.svg?raw);
    background-repeat: no-repeat;
}

.team-logo-container{
    width:30vw;
}

.team-logo__left{
    width:30vw;
    margin:0 auto;
}

.team-name__tilt-left span {
    display: inline-block;
    /* Set the display property to inline-block */
    vertical-align: middle;
    /* Optional: Align the image vertically with the text */
    margin-right: 0.5em;
    /* Optional: Add some spacing between the image and the text */
}

.team-name__tilt-right span {
    display: inline-block;
    /* Set the display property to inline-block */
    vertical-align: middle;
    /* Optional: Align the image vertically with the text */
    margin-left: 0.5em;
    /* Optional: Add some spacing between the image and the text */
}

.team-svg-line-animate {
    transform: translateZ(-1px);
}

.team-line-svg {
    width: 85%; 
    margin: 0 auto;
}

.custom-team-list {
    text-align: left;
    list-style: none;
    /* Remove default bullets */
    padding: 0;
    /* Remove default padding */
}

.custom-team-list li.left{
    transform: rotate(-45deg);
    position: absolute;
    top: 49%;
    left: -8%;
    font-size:1.4vw;
}
.custom-team-list li.right {
    transform: rotate(45deg);
    position: absolute;
    top: 49%;
    right: -2%;
    font-size:1.4vw;
}
.custom-team-list li.bottom {
    /* transform: rotate(-90deg); */
    position: absolute;
    bottom:-9%;
    left: 14.5%;
    font-size:1.4vw;
}

.custom-team-list li {
    margin-left: 20px;
    /* Adjust the margin as needed */
    padding-left: 30px;
    /* Add padding to create space for the bullet */
    position: relative;
    /* Required for absolute positioning */
}

.custom-team-list li:before {
    content: "";
    /* Required for pseudo-element */
    background-image: url('../img/customBulletPoint.svg');
    /* Path to your SVG file */
    background-size: contain;
    /* Ensure the SVG is contained within the element */
    background-repeat: no-repeat;
    /* Prevent repeating */
    width: 1.2vw;
    /* Adjust size as needed */
    height: 1.2vw;
    /* Adjust size as needed */
    position: absolute;
    /* Position the bullet */
    left: 0;
    /* Position the bullet */
    top: 50%;
    /* Position the bullet */
    transform: translateY(-50%);
    /* Position the bullet */
}

.team-list{
    margin-left:1.4vw;
}
.team-list li {
    font-size: 1.2vw;
    list-style-image: url('../img/customBulletPoint.svg');
}

.team-list li span{
    margin-left:1.3vw;
    vertical-align: 0.1em;
        transform: translate(-0.1em, 0.2em);
}

.team-list li::marker {
    font-size: 2.3vw;
    line-height: .1;
}
.team-container__left {
    position: absolute;
    width: 35%;
    height: auto;
    text-align: center;
    top: 2%;
    margin: 0 auto;
    left: -100%;
    opacity: 0;
    transition:
        opacity 1s ease,
        left 1s ease;
}

.team-container__left.show {
    opacity: 1;
    left: 0;
}

.team-container__middle {
    position: absolute;
}

.team-container__right {
    position: absolute;
    width: 37%;
    height: auto;
    text-align: left;
    top: 2.5%;
    margin: 0 auto;
    right: -100%;
    opacity: 0;
    transition:
        right 1s ease,
        opacity 1s ease;
}

.team-container__right.show {
    opacity: 1;
    right: 2.5%;
}


.founder-title {
    font-size: 2vw;
    line-height:125%;
}

.founder-title.founder-name{
    font-weight: bold;
}

.founder-desc {
    line-height: 135%;
    font-size: 1.2vw;
    margin-bottom:20%;
}

.board-members{
    position: relative;
        left: 1.5%;
        font-size: 1.8vw;
        font-weight: bold;
        margin-bottom: 1.8rem;
}
.team-title {
    position: relative;
    left:1.5%;
    font-size: 3.7vw;
    font-weight: bold;
    letter-spacing: 0.9vw;
    margin-bottom: 3rem;
}

.team-description {
    width:71%;
    position: absolute;
    top: 27.5%;
    left: -100%;
        opacity: 0;
            transition:
                left 1s ease,
                opacity 1s ease;
}

.team-description #teamdesc {
    font-weight: bold;
    font-size: 2.3vw;
        letter-spacing: 0.1rem;
        line-height: 120%;

}
.team-description.show {
    opacity: 1;
    left:6%;
}

.team-desc-blk{
    font-size:1.3vw;
    line-height: 135%;
}

.splitter-svg {
    background-color:white;
    margin-top: -10%;
    z-index:0;
}

.monkey-sect {
    margin-top: 16%;
    position: relative;
}

.left-plant-wrapper {
    position: absolute;
    bottom:91%;
    right: -100%;
    width: 29vw;
    z-index: -1;
    opacity: 0;
    transition:
        right 1s ease,
        opacity 1s ease;
}

.left-plant-wrapper.show {
    opacity: 1;
    right: 5%;
}

.right-plant-wrapper {
    position: absolute;
    bottom:86%;
    left: -100%;
    width: 30vw;
    z-index: -1;
    opacity: 0;
    transition:
        left 1s ease,
        opacity 1s ease;
}

.right-plant-wrapper.show {
    opacity: 1;
    left: 6%;
}

.monkeylinefooter{
    stroke-width: 54px !Important;
}

.monkey-wrapper {
    position: relative;
    z-index: 10000;
    width: 100%;
    margin: 0 auto;
    bottom:.5vh;
    /* padding-top: 41%; */
    opacity:0;
    transition:
            opacity 1s ease;
}

.monkey-wrapper img{
    width:39vw;
    margin:0 auto;
}

.monkey-wrapper.show{
    opacity:1;
}

.bottom-svg {
    margin-top: -37%;
    z-index: 1000;
    width: 115%;
    margin-left: -8%;
}

.team-list-container {
    margin-top: 8%;
}

.team-list {}

.team-list-item {
    letter-spacing: 0.1rem;
    line-height: 90%;
    font-size: 1.4vw;
    font-weight: bold;
    /* padding: 0.5rem; */
    margin-bottom: 3vh;
}

.team-subtitle {
    font-size: .8vw;
}

.team-blurb {
    position: absolute;
    width: 36%;
    left: -100%;
    top: 20%;
    opacity: 0;
    transition:
        left 1s ease,
        opacity 1s ease;
}

.team-blurb.show{
    opacity:1;
    left: 6%;
}

.blurb.show {
    opacity: 1;
}

.team-blurb .blurb {
    font-weight: bold;
    font-size: 1.9vw;
    letter-spacing: 0.1rem;
    line-height: 110%;
}

.team-block-left-1 {
    position: absolute;
    width: 80%;
    height: auto;
    text-align: left;
    top: 50%;
    opacity: 0;
    left:-100%;
    transition: 
    left 1s ease,
    opacity 1s ease;
    margin: 0 auto;
}
.team-block-left-1.show{
    opacity: 1;
    left:5%;
}

.team-block-right-1 {
    position: absolute;
    width: 80%;
    height: auto;
    text-align: left;
    top: 38%;
    right: -100%;
    opacity: 0;
    transition: 
    opacity 1s ease,
    right 1s ease;
    margin: 0 auto;
}

.team-block-right-1.show{
    right:4%;
    opacity:1;
}

.team-block-left-2 {
    position: absolute;
    width: 94%;
    height: auto;
    text-align: left;
    top: 75%;
    left: -100%;
    margin: 0 auto;
    opacity:0;
    transition: opacity 1s ease, left 1s ease;
}
.team-block-left-2.show{
    opacity:1;
    left:-4%;
}

.team-block-right-2 {
    position: absolute;
    width: 85%;
    height: auto;
    text-align: left;
    top: 63%;
    right: -100%;
    margin: 0 auto;
    opacity:0;
    transition: opacity 1s ease, right 1s ease;
}
.team-block-right-2.show{
    opacity:1;
    right:1%;
}

.team-block-title {
    font-weight:bold;
    font-size: 1.6vw;
    margin-bottom: 1rem;
}

.team-block-subtitle{
font-weight: regular;
    font-size: 1.2vw;
}

.vertical-uni {
    position: absolute;
    z-index: -1500;
    width: 75%;
    height: auto;
    text-align: left;
    bottom: -50%;
    opacity:0;
    transition: opacity 2s ease, bottom 2s ease;
    margin: 0 auto;
}
.vertical-uni.show{
    bottom:6%;
    opacity:1;
}

.vert-uni-text {
    font-weight: bold;
    font-size: 5.1vw;
    line-height: 110%;
}



.vertical-blurb {
    position: absolute;
    z-index: -1500;
    width: 35%;
    height: auto;
    text-align: left;
    bottom:-25%;
    left: 69%;
    margin: 0 auto;
    transition:opacity 2s ease, bottom 2s ease;
}

.vertical-blurb.show{
    opacity:1;
    bottom:3%;

}
.vert-blurb-text {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 108%;
}

.mtnLogoContainer{
    position: absolute;
    width: 35%;
    bottom: 56.5%;
    left: 33%;
    height: 25%;
}

.mtnLogo {
    position: absolute;
    top: -5%;
    width: 18vw;
    left: 24%;
    z-index: 50000;
    opacity: 1;
}

.mtnLogoText{
    color:white;
}

.mtnLogoText.left{
    position: absolute;
    left: 6%;
    top: 25%;
    z-index: 50001;
    text-align: right;
    line-height: 100%;
    font-size:1.2vw;
}

.mtnLogoText.right {
    position: absolute;
    left:79%;
    top: 25%;
    z-index: 50001;
    line-height: 110%;
    font-size:1.2vw;
}

.mtnLogoText.bottom {
    position: absolute;
    left: 33.5%;
    top: 80%;
    z-index: 50001;
    width: 100%;
    font-size:1.2vw;
}


.splitter-left-container {
    position: absolute;
    top: 29%;
    left: -100%;
    width: 38%;
    opacity: 0;
    transition:
        opacity 1s ease,
        left 1s ease;
}

.splitter-left-container.show {
    opacity: 1;
    left:5%;
}

.splitter-left-text {
    font-size: 2vw;
    font-weight: bold;
}

.splitter-right-container {
    position: absolute;
    top: 29%;
    right:-100%;
    width: 60%;
    text-align: center;
    opacity: 0;
    transition:
        opacity 1s ease,
        right 1s ease;
}

.splitter-right-container.show {
    opacity: 1;
    right:-6%;
}

.splitter-right-img {
    width: 45%;
    height: auto;
    margin: 0 auto;
}

h1.splitter {
    padding: 2rem;
    font-size: 2vw;
}

.monkey-img {
    top: 3%;
    z-index: 1000;
}

.monkey-img img{
    width:36vw;
    margin:0 auto;
}

.monkey-arch-text {
    position: absolute;
    bottom:22%;
    left: 23.5%;
    width: 52vw;
    opacity: 0;
    transition: 
        opacity 1s ease;
}
.monkey-arch-text.show{
    opacity: 1;
}



.bottom-left-container {
    text-align: right;
    position: absolute;
    top: 13.2%;
    left: 11%;
    width: 30%;
}

#bottomlineSvg{
    width:7.5vw;
    margin:0 auto;
}
#bottom-containers{
    margin-top:-6%;
}
.bottom-text-block {}

.bottom-text-block-header {
    font-weight: bold;
    font-size: 2vw;
    line-height:120%;
}

.bottom-text-paragraph {
    margin-top: 1.6rem;
    margin-bottom: 6rem;
    font-size: 1.3vw;
}

.bottom-right-container {
    text-align: left;
    position: absolute;
    top: 6%;
    right: 12%;
    width: 30%;
}

.btm-lft-1,.btm-lft-2,.btm-lft-3{
    position:relative;
    opacity: 0;
    left:-200%;
    transition:
        left 1s ease,
        opacity 1s ease;
}

.btm-rt-1,
.btm-rt-2{
    position:relative;
    right:-200%;
opacity: 0;
    transition:
    right 1s ease,
        opacity 1s ease;
}

.btm-lft-1.show,
.btm-lft-2.show,
.btm-lft-3.show
{
    left:0;
    opacity: 1;
}

.btm-rt-1.show,
.btm-rt-2.show{
right: 0;
    opacity: 1;
}

.bottom-right-headline {
    font-size: 4.5vw;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 5rem;
    line-height: 110%;
    opacity:0;
    right:-200%;
    position: relative;
    transition: 
    right 1s ease,
    opacity 1s ease;
}

.bottom-right-headline.show{
    opacity:1;
    right:0;
}

.svg-reveal {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: white;
    z-index: 1;
    transition: width 1s ease;
    /* Adjust the transition duration as needed */
}

.svg-reveal-left {
    left: 0;
}

.svg-reveal-right {
    right: 0;
}

.pre-footer {
    min-height: 15vh;
    padding: 5rem;
    text-align: center;
}

.custom-button {
    background-image: url("../img/buttonOutline.svg?raw");
    background-size: cover;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.newsletter-text {
    margin-top: 1.5rem;
}

.bottom-text-player {
    width: 100%;
    position: absolute;
    top: 47%;
}

.top-text-player {
    width: 100%;
    position: absolute !important;
    top: 5%;
}

/* #team-text-block-1,
#team-text-block-2,
#team-text-block-3,
#team-text-block-4,
#vert-uni-text,
#vert-blurb-text {
    opacity: 0;
    transition:
        right 2s ease,
        opacity 1s ease;
} */

/* #team-text-block-1.show,
#team-text-block-2.show,
#team-text-block-3.show,
#team-text-block-4.show,
#vert-blurb-text.show,
#vert-uni-text.show{
    opacity: 1;
} */


#footerLogoSvg{
    /* margin-top:10%; */
    background-color: white;
}


/* Testing for stroke animation */
/* .complexfooter-2{
    display:none;
} */
.path-test {
    display:block;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s linear forwards;
}

@keyframes dash {
    from {
            stroke-dashoffset: 1000;
            /* Start with full dash length */
        }
    to {
        stroke-dashoffset: 0;
    }
}

.path-test-reverse {
    display:block;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: reverse-dash 1s linear forwards;
}

@keyframes reverse-dash {
    from {
        stroke-dashoffset: -1000;
        /* Start with full dash length */
    }

    to {
        stroke-dashoffset: 0;
        /* Gradually offset the dash to 0 */
    }
}


.un-draw-left {
    display: block;

    stroke:white;
    transition:stroke 1s;
}

.un-draw-right {
    display: block;

    stroke:white;
    transition:stroke 1s;
}

.un-draw-eye {
    display: none;

    animation: undraw-right 1s linear forwards;
}

@keyframes undraw-right {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -1000;
    }
}

/* New keyframes for un-drawing from left to right */
@keyframes undraw-left {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 1000;
    }
}

.whiteMask {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    /* Ensure it's above other content */
    transition: height 0.5s ease;
    /* Smooth transition for height change */
}


#footerEye1{
    stroke-width:10px !important;
    opacity: 0;
        transition: opacity .5s ease;
} 
#footerEye2{
    stroke-width:10px !important;
    fill:#002235 !important;
    opacity: 0;
        transition: opacity 2s ease;
}

#footerEye1.show{
    opacity: 1;
}
#footerEye2.show{
    opacity:1;
}