/* Add media queries for different screen sizes */
@media (min-width: 11in) and (max-width: 13.9in) {
    /* Styles for MacBook Air and 13-inch laptops */
    .title-text {
        line-height: 2.5rem;
        font-family: "Futura";
        font-weight: bold;
        text-align: center;
    }

    .subtitle-text {
        line-height: 1rem;
        margin-top: 1rem;
        font-family: "Futura";
        text-align: center;
        font-weight: 50;
    }

    .title-text {
        font-size: 2rem;
        letter-spacing: 0.1rem !important;
    }

    .subtitle-text {
        font-size: 1.4rem;
        font-weight: lighter;
        letter-spacing: 0.3rem !important;
    }

    .top-img-fade-in {
        animation: fadeIn 1s ease-in-out forwards;
        opacity: 0;
    }

    .fade-in {
        animation: fadeIn 1s ease-in-out forwards;
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .hero-fade-in {
        opacity: 0;
        animation: heroFade 2s ease-in-out forwards;
    }

    @keyframes heroFade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .topImgContainer {
        display: flex;
        justify-content: center;
        /* Center horizontally */
        overflow-x: hidden;
        /* Hide horizontal overflow */
    }

    #topImg {
        position: relative;
        margin-left: -2%;
        margin-right: -2%;
    }

    .top-hero-line {
        margin-left: -2%;
        margin-right: -2%;
        margin-top: -12%;
    }

    .impact-fade-in-div {
        opacity: 0;
    }

    .cloud-fade-out {
        opacity: 0 !important;
    }

    .cloud-fade-in {
        animation: fadeIn 3s ease-in-out forwards;
        opacity: 1 !important;
    }

    .topSvgTitle {
        font-weight: bold;
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 38%;
        transform: translate(-50%, -50%);
    }

    .ninety-left {
        opacity: 0;
        transform: rotate(-90deg);
        position: absolute;
        top: 35%;
        left: 1%;
    }

    .ninety-right {
        opacity: 0;
        transform: rotate(90deg);
        position: absolute;
        top: 35%;
        right: 3%;
    }

    .topSvgBlurbLeft {
        font-weight: bold;
        font-size: 3rem;
        position: absolute;
        max-width: 23rem;
        text-align: right;
        left: -100%;
        line-height: 3.5rem;
        /* Start off-screen */
        top: 65%;
        opacity: 0;
        transition:
            left 1s ease,
            opacity 1s ease;
    }

    .topSvgBlurbLeft.show {
        left: 2%;
        /* Ending position */
        opacity: 1;
    }

    .topSvgBlurbRight {
        font-weight: lighter;
        font-size: 1.1rem;
        position: absolute;
        max-width: 30%;
        text-align: left;
        right: -100%;
        top: 65%;
        opacity: 0;
        transition:
            right 1s ease,
            opacity 1s ease;
    }

    .topSvgBlurbRight.show {
        opacity: 1;
        right: 5%;
    }

    .spacer {
        height: 5vh;
    }

    .counter-items {
        padding: .7rem;
        font-weight: bold;
        text-align: center;
    }

    .counter-text {
        margin-top: 0rem !important;
    }

    .cloud-container {
        overflow: hidden;
        margin-top: 4rem;
        min-height: 120vh;
        position: relative;
        /* background-color: white; */
        width: 150%;
        /* Adjust as needed */
        margin-left: -25%;
        /* Half of the excess width to keep it centered */
        margin-right: -25%;
        /* Half of the excess width to keep it centered */
    }

    .cloud-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        /* Adjust the height of the gradient overlay */
        background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.8));
        /* Adjust opacity as needed */
        pointer-events: none;
    }

    .cloud-reveal {
        position: absolute;
        top: 51%;
        /* Position the element 50% from the top */
        left: 50%;
        /* Position the element 50% from the left */
        transform: translate(-50%, -50%);
        z-index: 100000;
        width: 110%;
        display: inline-block;
        overflow: hidden;
    }

    .cloud-reveal-img {
        transition: opacity 5s ease;
        width: 100%;
        z-index: 100000;
        width: 110%;
        display: inline-block;
        overflow: hidden;
    }

    .mountain-container {
        /* width: 150%; */
        /* Adjust as needed */
        margin-left: -5%;
        /* Half of the excess width to keep it centered */
        margin-right: -5%;
        /* Half of the excess width to keep it centered */
        margin-top: -55%;
        opacity: 0;
        transform: translateY(75rem);
        transition:
            opacity 0.2s ease,
            transform 0.2s ease;
    }

    .mountain-reveal-text {
        opacity: 0;
        transition: opacity 1s ease;
        text-align: center;
        font-size: 3vw;
        font-weight: bold;
        position: absolute;
        z-index: 100;
        top: 45%;
        /* Position the element 50% from the top */
        left: 50%;
        /* Position the element 50% from the left */
        transform: translate(-50%, -58%);
    }

    .cloud-mountain-front-layer {
        margin-left: -2%;
    }

    .text-over-mountain__left {
        left: -100%;
        position: absolute;
        min-width:28%;
        text-align: left;
        margin: 0 auto;
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0rem;
        top: 15%;
        opacity: 0;
        transition:
            left 2s ease,
            opacity 2s ease;
    }

    .text-over-mountain__left.show {
        opacity: 1;
        left: 6.5%;
    }

    .text-over-mountain__right {
        right: -100%;
        position: absolute;
        min-width: 24%;
        width:24%;
        text-align: left;
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 2.2rem;
        letter-spacing: 0rem;
        top: 14%;
        opacity: 0;
        transition:
            right 2s ease,
            opacity 2s ease;
    }

    .text-over-mountain__right.show {
        opacity: 1;
        right: 7%;
    }

    .mountain-container.fade-in {
        opacity: 1;
        transform: translateY(0);
    }

    .mountain-front {
        width: 105%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .mtnSideFrontLayer {
        position: absolute;
        z-index: 5;
        margin: 0 auto;
        width: 150%;
        /* Adjust as needed */
        margin-left: -27%;
        /* Half of the excess width to keep it centered */
        margin-right: -28%;
    }

    .mountain-back {
        position: absolute;
        top: 100%;
        /* Initially hide below the mountain-sect container */
        width: 100%;
        z-index: 1;
        left: 12%;
        transition: top 1s ease;
        /* Add transition for smooth sliding animation */
    }

    .mtnSideBackLayer {}

    .slide-up {
        top: 6%;
        /* Final position where you want the mountain-back container to slide up */
    }

    .blue-sect::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        /* Adjust the height of the opaque top edge */
        background-image: linear-gradient(to bottom,
                rgb(0, 34, 53, 0),
                rgb(0, 34, 53, 0.5));
        /* Adjust the opacity (rgba) and direction as needed */
    }

    .blue-sect {
        text-align: center;
        padding: 4rem;
        position: relative;
        z-index: 1000;
        margin-top: -5%;
        background-color: #002235;
        min-height: 20vh;
        color: white;
    }

    .blue-sect-mountain {
        text-align: center;
        padding: 4rem;
        /* position: relative; */
        position: absolute;
        z-index: 1000;
        min-height: 20vh;
        top: 98%;
        color: white;
    }

    .blue-headline {
        font-size: 1.8rem;
        width:100%;
        font-weight: bold;
        letter-spacing: 0.2rem;
        color: white !important;
    }

    .blue-subtitle {
        font-size: 1.4rem;
        font-weight: lighter;
    }

    .blue-paragraph {
        font-size: 1rem;
        line-height:1.3rem;
        width: 90%;
        margin: 0 auto;
    }

    .blue-light-headline {
        font-weight: light;
        font-size: 1.6rem;
        line-height: 2.3rem;
        min-width: 80%;
        max-width: 85%;
        margin: 0 auto;
    }

    .mountain-sect {
        margin-top: -15%;
        width: 105%;
        /* Adjust as needed */
        position: relative;
        min-height: 120vh;
        margin-bottom: 18rem;
    }

    .team-name__tilt-left span {
        display: inline-block;
        /* Set the display property to inline-block */
        vertical-align: middle;
        /* Optional: Align the image vertically with the text */
        margin-right: 0.5em;
        /* Optional: Add some spacing between the image and the text */
    }

    .team-name__tilt-right span {
        display: inline-block;
        /* Set the display property to inline-block */
        vertical-align: middle;
        /* Optional: Align the image vertically with the text */
        margin-left: 0.5em;
        /* Optional: Add some spacing between the image and the text */
    }

    .team-svg-line-animate {
        transform: translateZ(-1px);
    }

    .team-line-svg {
        width: 85%;
        margin: 0 auto;
    }

    .team-container__left {
        position: absolute;
        width: 35%;
        height: auto;
        text-align: center;
        top: 3%;
        margin: 0 auto;
        left: -100%;
        opacity: 0;
        transition:
            left 2s ease,
            opacity 2s ease;
    }

    .team-container__left.show {
        opacity: 1;
        left: 0;
    }

    .team-container__middle {
        position: absolute;
    }

    .team-container__right {
        position: absolute;
        width: 35%;
        height: auto;
        text-align: left;
        top: 3%;
        margin: 0 auto;
        right: -100%;
        opacity: 0;
        transition:
            right 2s ease,
            opacity 2s ease;
    }

    .team-container__right.show {
        opacity: 1;
        right: 0;
    }


    .founder-title {
        font-size: 1.7rem;
    }

    .founder-desc {
        line-height: 1.5rem;
        font-size:1rem;
    }

    .team-title {
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: 0.4rem;
        margin-bottom: 1.5rem;
    }

    .team-description {
        position: absolute;
        top: 28%;
        right: 12%;
    }

    .team-description #teamdesc {
        font-weight: bold;
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
        line-height: 2rem;
        opacity: 0;
        transition:
            right 2s ease,
            opacity 2s ease;
        left: -100%;
    }

    .custom-team-list {
        text-align: left;
        list-style: none;
        /* Remove default bullets */
        padding: 0;
        /* Remove default padding */
    }

    .custom-team-list li.left {
        transform: rotate(-45deg);
        position: absolute;
        top: 42%;
        left: -14%;
    }

    .custom-team-list li.right {
        transform: rotate(45deg);
        position: absolute;
        top: 42%;
        right: -6%;
    }

    .custom-team-list li.bottom {
        /* transform: rotate(-90deg); */
        position: absolute;
        bottom: -9%;
        left: 10.5%;
    }

    .custom-team-list li {
        margin-left: 20px;
        /* Adjust the margin as needed */
        padding-left: 30px;
        /* Add padding to create space for the bullet */
        position: relative;
        /* Required for absolute positioning */
    }

    .custom-team-list li:before {
        content: "";
        /* Required for pseudo-element */
        background-image: url('../img/customBulletPoint.svg');
        /* Path to your SVG file */
        background-size: contain;
        /* Ensure the SVG is contained within the element */
        background-repeat: no-repeat;
        /* Prevent repeating */
        width: 20px;
        /* Adjust size as needed */
        height: 20px;
        /* Adjust size as needed */
        position: absolute;
        /* Position the bullet */
        left: 0;
        /* Position the bullet */
        top: 50%;
        /* Position the bullet */
        transform: translateY(-50%);
        /* Position the bullet */
    }

    #teamdesc.show {
        opacity: 1;
        right: 0;
    }

    .splitter-svg {
        margin-top: -28%;
    }

    .monkey-sect {
        margin-top: -1rem;
        position: relative;
    }

    .left-plant-wrapper {
        position: absolute;
        top: -11%;
        right: -100%;
        width: 22rem;
        z-index: 1;
        opacity: 0;
        transition:
            right 2s ease,
            opacity 2s ease;
    }

    .left-plant-wrapper.show {
        opacity: 1;
        right: 0;
    }

    .right-plant-wrapper {
        position: absolute;
        top: -16%;
        left: -100%;
        width: 23rem;
        z-index: 1;
        opacity: 0;
        transition:
            left 2s ease,
            opacity 2s ease;
    }

    .right-plant-wrapper.show {
        opacity: 1;
        left: 0;
    }

    .monkey-wrapper {
        position: relative;
        z-index: 10000;
        width: 25rem;
        margin: 0 auto;
        padding-top: 15rem;
        opacity: 0;
        transition:
            opacity 1s ease;
    }

    .monkey-wrapper.show {
        opacity: 1;
    }

    .bottom-svg {
        margin-top: -34%;
        z-index: 1000;
    }

    .team-list-container {
        margin-top: 8%;
    }

    .team-list {
        font: size 0.4rem;
    }

    .team-list-item {
        letter-spacing: 0.1rem;
        padding: 0.5rem;
        line-height: .8rem;
    }

    .team-subtitle {
        font-size: 0.8rem;
    }

    .team-blurb {
        position: absolute;
        width: 40%;
        left: -100%;
        opacity: 0;
        transition:
            left 2s ease,
            opacity 2s ease;
    }

    .team-blurb.show {
        opacity: 1;
        left: 2%;
        top: 17%;
    }

    .team-blurb .blurb {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        line-height: 2rem;
    }

    .team-block-left-1 {
        position: absolute;
        width: 75%;
        height: auto;
        text-align: left;
        top: 51%;
        left: 10%;
        margin: 0 auto;
    }

    .team-block-right-1 {
        position: absolute;
        width: 75%;
        height: auto;
        text-align: left;
        top: 39%;
        right: 10%;
        margin: 0 auto;
    }

    .team-block-left-2 {
        position: absolute;
        width: 75%;
        height: auto;
        text-align: left;
        top: 76%;
        left: 10%;
        margin: 0 auto;
    }

    .team-block-right-2 {
        position: absolute;
        width: 75%;
        height: auto;
        text-align: left;
        top: 64%;
        right: 10%;
        margin: 0 auto;
    }

    .team-block-subtitle {}

    .team-block-title {
        font-size: 1.2rem !important;
        margin-bottom: 0.2rem;
    }

    .vertical-uni {
        position: absolute;
        width: 75%;
        height: auto;
        text-align: left;
        top: 89%;
        left: 10%;
        margin: 0 auto;
    }

    .vert-uni-text {
        font-weight: bold;
        font-size: 4vw;
        line-height: 3.9rem;
    }

    .vertical-blurb {
        position: absolute;
        width: 45%;
        height: auto;
        text-align: left;
        line-height: 3rem;
        top: 90%;
        left: 65%;
        margin: 0 auto;
    }

    .vert-blurb-text {
        font-weight: bold;
        font-size: 3vw;
    }

    .mtnLogo {
        position: absolute;
        top: -12%;
        left: 40%;
        z-index: 50000;
        opacity: 1;
    }

    .mtnLogoContainer{
        line-height:1.2rem;
    }

    .mtnLogoText {
        color: white;
    }

    .mtnLogoText.left {
        text-align: right;
        position: absolute;
        left: 33%;
        top: 31.8%;
        z-index: 50001;
    }

    .mtnLogoText.right {
        position: absolute;
        right: 37%;
        top: 32%;
        z-index: 50001;
    }

    .mtnLogoText.bottom {
        position: absolute;
        left: 40.5%;
        top: 48.5%;
        z-index: 50001;
    }


    .splitter-left-container {
        position: absolute;
        top: 47%;
        left: -100%;
        width: 38%;
        opacity: 0;
        transition:
            left 1s ease,
            opacity 1s ease;
    }

    .splitter-left-container.show {
        opacity: 1;
        left: 6%;
    }

    .splitter-left-text {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .splitter-right-container {
        position: absolute;
        top: 43%;
        right: -100%;
        width: 60%;
        text-align: center;
        opacity: 0;
        transition:
            right 2s ease,
            opacity 2s ease;
    }

    .splitter-right-container.show {
        opacity: 1;
        left: 46%;
    }

    .splitter-right-img {
        width: 36%;
        height: auto;
        margin: 0 auto;
    }

    h1.splitter {
        padding: 2rem;
        font-size: 2vw;
    }

    .monkey-img {
        top: 4%;
        z-index: 1000;
    }

    .monkey-arch-text {
        position: absolute;
        top: 12%;
        left: 27%;
        width: 46%;
        opacity: 0;
        transition:
            opacity 1s ease;
    }

    .monkey-arch-text.show {
        opacity: 1;
    }

    .bottom-left-container {
        text-align: right;
        position: absolute;
        top: 18%;
        left: 5%;
        width: 35%;
    }

    .bottom-text-block {}

    .bottom-text-block-header {
        font-weight: bold;
        font-size: 2vw;
        line-height:1.8rem;
    }

    .bottom-text-paragraph {
        margin-top: 1rem;
        margin-bottom: 6rem;
        font-size: 1.4vw;
        line-height:1.4rem;
    }

    .bottom-right-container {
        text-align: left;
        position: absolute;
        top: 15%;
        right: 5%;
        width: 35%;
    }

    .btm-lft-1,
    .btm-lft-2,
    .btm-lft-3,
    .btm-rt-1,
    .btm-rt-2 {
        opacity: 0;
        transition:
            opacity 1s ease;
    }

    .btm-lft-1.show,
    .btm-lft-2.show,
    .btm-lft-3.show,
    .btm-rt-1.show,
    .btm-rt-2.show {
        opacity: 1;
    }

    .bottom-right-headline {
        font-size: 4vw;
        font-weight: bold;
        margin-top: 4rem;
        margin-bottom: 4rem;
        line-height: 3.4rem;
        opacity: 0;
        transition:
            opacity 1s ease;
    }

    .bottom-right-headline.show {
        opacity: 1;
    }

    .pre-footer {
        min-height: 15vh;
        padding: 5rem;
        text-align: center;
    }

    .custom-button {
        background-image: url("../img/buttonOutline.svg?raw");
        background-size: cover;
        width: 200px;
        height: 50px;
        border: none;
        cursor: pointer;
    }

    .newsletter-text {
        margin-top: 1.5rem;
    }

    .bottom-text-player {
        width: 100%;
        position: absolute;
        top: 2;
    }

    .top-text-player {
        width: 100%;
        position: absolute !important;
        top: 8%;
    }



    #team-text-block-1,
    #team-text-block-2,
    #team-text-block-3,
    #team-text-block-4,
    #vert-uni-text,
    #vert-blurb-text {
        opacity: 0;
        transition:
            right 2s ease,
            opacity 2s ease;
    }

    #team-text-block-1.show,
    #team-text-block-2.show,
    #team-text-block-3.show,
    #team-text-block-4.show,
    #vert-blurb-text.show,
    #vert-uni-text.show {
        opacity: 1;
    }


    #footerLogoSvg {
        margin-top: -26%;
    }

    .team-block-title {
        font-size: 1.3rem
    }

    .team-desc-blk {
        font-size: .8rem;
        line-height:.9rem;
    }
}


